<div class="container-xl px-4 mt-5">
<%= form_with model: current_user, url: edit_profile_path, data: { turbo: false } do |f| %>
  <%if current_user.errors.any? %>
		<div>
			<% current_user.errors.full_messages.each do |message|%>
				<div><%= message %></div>
			<%end%>
		</div>
	<%end%>
<div class="row marginLeft">
      <div class="col-xl-8">
          <!-- Account details card-->
          <div class="card mb-4">
              <div class="card-header h4"><%= link_to raw("<i class=\"fa fa-arrow-left\"></i> Go Back"), :back, :class => "btn btn-secondary", style:"margin: 5px" %> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Edit User Details</div>
              <div class="card-body">
                  <form>
                      <div class="row mb-3">
                          <!-- Form Group (first name)-->
                          <div class="col-md-6">
                              <label class=" mb-1" for="title">Name</label>
                              <%= f.text_field :name, autofocus: true, autocomplete: "title", class: "form-control", style:"height:50px;" %>
                          </div>
                          <!-- Form Group (last name)-->
                          <div class="col-md-6">
                              <label class=" mb-1" for="status">Surname</label>
                              <%= f.text_field :surname, autofocus: true, autocomplete: "title", class: "form-control", style:"height:50px;" %>
                          </div>
                      </div>
                      <!-- Form Group (username)-->
                      <div class="row mb-3">
                          <div class="col-md-6">
                            <label class=" mb-1" for="description">DNI</label>
                            <%= f.text_field :doc_id, autofocus: true, autocomplete: "title", class: "form-control", style:"height:50px;" %>
                          </div>
                          <div class="col-md-6">
                              <label class=" mb-1" for="kind">Kind of Document</label>
                              <%= f.select :doc_kind, [[],["DNI", :dni], ["Driver's license", :driver_license], ["Passport", :passport]], {}, {class: "form-control", style:"height:50px;"}%>
                          </div>
                      </div>
                      <!-- Form Row-->
                      <!-- Form Row        -->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (organization name)-->
                          <!-- Form Group (location)-->
                          <div class="col-md-6">
                              <label class="mb-1" for="payable">Email</label>
                              <%= f.text_field :email, autofocus: true, autocomplete: "title", class: "form-control" , style:"height:50px;"%>
                          </div>

                          <div class="col-md-6">
                              <label class=" mb-1" for="beneficiary">Address</label>
                              <%= f.text_field :address, autofocus: true, autocomplete: "title", class: "form-control" , style:"height:50px;"%>
                          </div>
                      </div>
        
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (phone number)-->
                          
                          <!-- Form Group (birthday)-->
                          <div class="col-md-6">
                              <label class=" mb-1" for="beneficiary">City</label>
                              <%= f.text_field :city, autofocus: true, autocomplete: "title", class: "form-control" , style:"height:50px;"%>
                          </div>
                          <div class="col-md-6">
                              <label class=" mb-1" for="beneficiary">Postalcode</label>
                              <%= f.text_field :postalcode, autofocus: true, autocomplete: "title", class: "form-control" , style:"height:50px;"%>
                          </div>
                      </div>
                      <!-- Save changes button-->
                        <div class="row justify-content-around buttonBox">
                          <div class="actions">
                            <%= link_to raw("<i class=\"fa fa-remove\"></i> Cancel"), root_path, :class => "btn btn-secondary buttonText", style:"width:100px;height:60px;margin: 15px" %>
                          </div>
                           
                          <div>
                            <%= link_to raw("<i class=\"fa fa-edit\"></i> Edit"), :back, data: {turbo: "false"}, class: "btn btn-success buttonText", style: "width:150px;height:60px;margin:15px;"%>
                          </div>
                         
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
      <% end %>
      </div>
  </div>
</div>
</div>

