<section>
  <div class="px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-4 align-items-center">
        <div class="col-lg-6 mb">
          <h1 class="my-5 display-4 fw-bold ls-tight">
            El registro sólo  <br />
            <span class="text-primary">tomará 2 minutos.</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Prepárate para descubrir el potencial de Kontractum.
          </p>
        </div>

        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>

                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <%= f.text_field :name, autofocus: true, autocomplete: "Name", class: "form-control", style:"height:50px;", placeholder:"Jane"%>
                      <label class="form-label" for="form3Example3">Name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <%= f.text_field :surname, autofocus: true, autocomplete: "Surname", class: "form-control", style:"height:50px;", placeholder:"Doe"%>
                      <label class="form-label" for="form3Example3">Surname</label>
                    </div>
                  </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-2">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style:"height:50px;", placeholder:"example@gmail.com"%>
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>

                <!-- Password input -->
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <%= f.text_field :birthdate, placeholder: "XX/XX/XX", class: "form-control", style:"height:50px;"%>
                      <label class="form-label" for="form3Example4">Birthdate</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <%= f.text_field :address, autofocus: true, autocomplete: "Doc_kind", class: "form-control", style:"height:50px;"%>
                      <label class="form-label" for="form3Example3">Address</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <%= f.text_field :city, autocomplete: "city", class: "form-control", style:"height:50px;", placeholder:"Alcoi"%>
                      <label class="form-label" for="form3Example4">City</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <%= f.text_field :postalcode, autofocus: true, autocomplete: "postalcode", class: "form-control", style:"height:50px;", placeholder:"XXXXX"%>
                      <label class="form-label" for="form3Example3">Postalcode</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <%= f.text_field :doc_id, autocomplete: "doc-id", class: "form-control", style:"height:50px;", placeholder:"12345678A"%>
                      <label class="form-label" for="form3Example4">Document ID</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <%= f.select :doc_kind, [["Select..", ""],["DNI", :dni], ["Driver's license", :driver_license], ["Passport", :passport]], {}, {class: "form-control", style:"height:50px;"}%>
                      <label class="form-label" for="form3Example3">Type of Document</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <%= f.password_field :password, placeholder:"Minimum 6 characters", class: "form-control", style:"height:50px;"%>
                      <label class="form-label" for="form3Example4">Password</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <%= f.password_field :password_confirmation, class: "form-control", style:"height:50px;"%>
                      <label class="form-label" for="form3Example3">Repeat password</label>
                    </div>
                  </div>
                </div>

                <!-- Submit button -->
                <%= f.submit "Register", :class => "btn btn-primary btn-block mb-2"%>
                
              <%end%>
              Already have an account? <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%if resource.errors.any? %>
    <div>
      <% resource.errors.full_messages.each do |message|%>
        <div class="alert alert-danger" role="alert" style="position:absolute;left:180px;top:200px;width:500px;"><%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <%end%>
    </div>
  <%end%>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->