<div class="container-xl px-1">
  <%= form_with model: contract, url: user_contracts_path,data: { turbo: false } do |f| %>
    <%if contract.errors.any? %>
      <div>
        <% contract.errors.full_messages.each do |message|%>
          <div><%= message %></div>
        <%end%>
      </div>
    <%end%>
    <div class="row marginLeft">
        <div class="col-xl-8">
          <div class="card mb-3">
              <div class="card-header h4">Create Contract</div>
              <div class="card-body">
                  <form>
                      <div class="row mb-3">
                          <div class="col-md-6">
                              <label class=" mb-1" for="title">Title</label>
                              <%= f.text_field :title, class: "form-control", style:"height:50px;font-size:16px;", id: "transactionTitle" %>
                          </div>
                          <div class="col-md-6">
                              <label class=" mb-1" for="status">Status</label>
                              <span class="form-control" id="status" style="height:50px;font-size:16px;" readonly><%= @contract.status%></span>
                          </div>
                      </div>
                      <div class="mb-3">
                          <label class=" mb-1" for="description">Description</label>
                          <%= f.text_area :desc, class: "form-control", style:"height:100px;font-size:16px;" %>
                      </div>
                      <div class="row gx-3 mb-3">
                          <div class="col-md-4">
                              <label class=" mb-1" for="kind">Kind</label>
                              <%= f.text_field :kind, class: "form-control" , style:"height:50px;font-size:16px;"%>
                          </div>
                          <div class="col-md-4">
                              <label class="mb-1" for="payable">Payable?</label>
                              <%= f.select :payable, [[],["Yes", true], ['No', false]], {}, {class: "form-control", style:"height:50px;font-size:16px;"}%>
                          </div>
                          <div class="col-md-4">
                              <label class=" mb-1" for="beneficiary">Beneficiary</label>
                              <%= f.select :beneficiary, User.all.collect{|u| [u.email, u.id]}, {}, {class: "form-control", style:"height:50px;font-size:16px;"}%>
                          </div>
                      </div>
        
                      <div class="row gx-3">
                          <div class="col-md-6">
                              <label for="creation">Upload contract <i class="fa fa-paperclip" style="margin-left:5px;"></i> </label>
                            <div id="uploader">
                                <div class="filebox">
                                    <%= f.file_field :contract_file, class: "form-field ml-3 mt-2", style:"width:322px;height:50px;cursor:pointer;position:absolute;font-size:16px;"%>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                              <label class="mb-2" for="creation">Created At</label>
                              <span class="form-control" id="creation"  style="height:50px;font-size:16px;"readonly><%= Date.today%></span>
                          </div>
                      </div>
                      
                      <div class="row flex-row-reverse mr-2">
                          <div><%= button_tag( :class => "btn btn-success", style: "width:100px;height:60px;margin:15px;") do %>
                             <i class="fa fa-file-text-o" style="margin-right:5px;"></i> Create
                            <% end %></div>
                            
                          <div><%= link_to raw("<i class=\"fa fa-remove\"></i> Cancel"), root_path, :class => "btn btn-secondary buttonText", style:"width:100px;height:60px;margin: 15px" %></div>
                      </div>
          </form>
              </div>
          </div>
          
        </div>
    </div>
  <% end %>
</div>
