<div class="container-xl px-3 mt-5">

 <div class="row ml-5">
      <div class="col-md-3 ml-2">
            <!-- Profile picture card-->
            <div class="card ml-4 mb-2">
                <div class="card-header h4">Owner information</div>
                <div class="card-body">
                    <!-- Profile picture help block-->
                    <div class="font-italic text-muted mb-4">Contract owner: <span id="contract_owner"><%= @contract.owner.name%></span></div>
                    <div class="font-italic text-muted mb-4">User active since: <%= @contract.owner.created_at.strftime('%d/%m/%Y')%></div>
                    <%if current_user && current_user == contract.owner%>
                      <div class="font-italic text-muted mb-4">Total contracts created: <%= Contract.select{|contract| contract.owner == current_user}.count%></div>
                    <%elsif current_user && current_user == contract.beneficiary%>
                      <div class="font-italic text-muted mb-4">Total contracts created: <%= Contract.select{|contract| contract.owner == @contract.owner}.count%></div>
                    <%end%>
                </div>
            </div>

            <div class="card mb-4 ml-4" style="height: auto;">
                <div class="card-header h4">Contract actions</div>
                <div class="card-body">
                    <%if contract.proposed? && current_user && current_user == contract.owner%>
                        <%=button_to raw("Delete contract   <i class=\"ml-2 fa fa-trash-o\"></i>"), user_contract_url(current_user, contract.id), :method => :delete, form: {data: {turbo_confirm: 'Contract delete confirmation. Are you sure?'}}, class: "btn btn-danger EditDeleteButtons", style: "height: 45px; width: 100%;", title:"Delete Contract"%>
                    <%elsif contract.proposed? && current_user && current_user == contract.beneficiary%>
												<%= button_to raw("Accept contract <i class=\"fa fa-check\"></i>"), user_contract_accept_path(current_user, contract.id), form: {data: {turbo_confirm: 'Accept contract??'}},class: "btn btn-warning EditDeleteButtons mb-3", style: "height: 45px; width: 100%;"%>
												<%= button_to raw("Reject contract <i class=\"fa fa-close\"></i>"), user_contract_reject_path(current_user, contract.id), form: {data: {turbo_confirm: 'Reject contract?'}}, class: "btn btn-danger EditDeleteButtons mb-3", style: "height: 45px; width: 100%;", title:"Reject Contract"%>
                    <%elsif contract.approved? && current_user && current_user == contract.owner%>
                        <%= button_to raw("Ask for tokenization <i class=\"ml-2 fa fa-chain\"></i>"), user_contract_tokenize_path(current_user, contract.id), form: {data: {turbo_confirm: 'Ask ' + contract.beneficiary.name + ' to tokenize the contract?'}}, class: "btn btn-warning EditDeleteButtons mb-3", style: "height: 45px; width: 100%;", title:"Tokenize Contract"%>
                        <%= button_to raw("Delete contract <i class=\"ml-2 fa fa-trash-o\"></i>"), user_contract_url(current_user, contract.id), :method => :delete, form: {data: {turbo_confirm: 'Contract delete confirmation. Are you sure?'}}, class: "btn btn-danger EditDeleteButtons mb-3", style: "height: 45px; width: 100%;", title:"Delete Contract"%>
                    <%elsif contract.approved? && current_user && current_user == contract.beneficiary%>
                            <%= button_to raw("Request modification <i class=\"ml-2 fa fa-question\"></i>"), user_contract_modify_path(current_user, contract.id), form: {data: {turbo_confirm: 'Request contract modification?'}}, class: "btn btn-primary EditDeleteButtons", style: "height: 45px; width: 100%;", title:"Ask for modify"%>
                    <%elsif contract.modification_requested? && current_user && current_user == contract.beneficiary%>
                        <i>Modification</i>
                        <i>requested...</i>
                    <%elsif contract.modification_requested? && current_user && current_user == contract.owner%>
                        <%= button_to raw("Accept modification <i class=\"ml-2 fa fa-plus-circle\"></i>"), user_contract_accept_modification_path(current_user, contract.id), form: {data: {turbo_confirm: 'Modification requested by ' + contract.beneficiary.name + ". Accept?"}}, class: "btn btn-warning EditDeleteButtons mb-3", style: "height: 45px; width: 100%;", title:"Accept modification"%>
                        <%= button_to raw("Reject modification <i class=\"ml-2 fa fa-minus-circle\"></i>"), user_contract_reject_modification_path(current_user, contract.id), form: {data: {turbo_confirm: 'Modification requested by ' + contract.beneficiary.name + ". Reject?"}}, class: "btn btn-danger EditDeleteButtons mb-3", style: "height: 45px; width: 100%;", title:"Reject modification"%>
                    <%elsif contract.modification_in_progress? && current_user && current_user == contract.beneficiary%>
                        <%= link_to raw("Edit contract <i class=\"ml-2 fa fa-pencil\"></i>"), edit_user_contract_path(current_user, contract.id), data: {turbo: "false"}, class: "btn btn-warning EditDeleteButtons mb-3", style: "height: 45px; width: 100%;", title:"Edit Contract"%>
                        <%= button_to raw("Finish edit <i class=\"ml-2 fa fa-check\"></i>"), user_contract_edited_path(current_user, contract.id), form: {data: {turbo_confirm: 'Finish modification?'}}, class: "btn btn-success EditDeleteButtons mb-3", style: "height: 45px; width: 100%;", title:"Finish edit"%>
                    <%elsif contract.modification_in_progress? && current_user && current_user == contract.owner%>
                        <i>Modification</i>
                        <i>in progress...</i>
                    <%elsif contract.edited? && current_user && current_user == contract.owner%>
                        <%= button_to raw("Accept edit <i class=\"fa fa-check\"></i>"), user_contract_accept_modification_path(current_user, contract.id), form: {data: {turbo_confirm: 'Accept contract edit?'}},class: "btn btn-warning EditDeleteButtons mb-3", style: "height: 45px; width: 100%;"%>
                        <%= button_to raw("Reject edit <i class=\"fa fa-close\"></i>"), user_contract_reject_modification_path(current_user, contract.id), form: {data: {turbo_confirm: 'Reject contract edit?'}}, class: "btn btn-danger EditDeleteButtons mb-3", style: "height: 45px; width: 100%;", title:"Reject Contract"%>
                    <%elsif contract.edited? && current_user && current_user == contract.beneficiary%>
                        <i>Waiting for <%= contract.owner.name %> approval</i>
                    <%elsif contract.tokenization_requested? && current_user && current_user == contract.owner%>
                        <i>Waiting for <%= contract.beneficiary.name %> to respond</i>
                    <%elsif contract.tokenization_requested? && current_user && current_user == contract.beneficiary%>
                        <%= button_to raw("Request modification <i class=\"ml-2 fa fa-question\"></i>"), user_contract_modify_path(current_user, contract.id), form: {data: {turbo_confirm: 'Request contract modification?'}}, class: "btn btn-primary EditDeleteButtons mb-3", style: "height: 45px; width: 100%;", title:"Ask for modify"%>
                        <%= button_to raw("Accept tokenization <i class=\"ml-2 fa fa-chain\"></i>"), user_contract_accept_tokenization_path(current_user, contract.id), form: {data: {turbo_confirm: 'Tokenization requested by ' + contract.owner.name + ". Accept?"}}, class: "btn btn-warning EditDeleteButtons mb-3", style: "height: 45px; width: 100%;", title:"Accept tokenization"%>
                        <%= button_to raw("Reject tokenization <i class=\"ml-2 fa fa-chain-broken\"></i>"), user_contract_reject_tokenization_path(current_user, contract.id), form: {data: {turbo_confirm: 'Tokenization requested by ' + contract.owner.name + ". Reject?"}}, class: "btn btn-danger EditDeleteButtons mb-2", style: "height: 45px; width: 100%;", title:"Reject tokenization"%>
                    <%elsif contract.tokenizable? && current_user && current_user == contract.beneficiary%>
                        <%= button_to raw("Upload firm <i class=\"ml-2 fa fa-unlock-alt\"></i>"), user_contract_tokenizable_path(current_user,contract.id),:form => { :id => "send-button" }, class: "btn btn-primary EditDeleteButtons mb-3", style: "height: 45px; width: 100%;", title:"Firm contract"%>
                        <p class="mt-4">Firmed by:</p>
                        <p class="mt-2">- <%= contract.firm1%></p>
                        <p class="mt-2">- <%= contract.firm2%></p>
                    <%elsif contract.tokenizable? && current_user && current_user == contract.owner%>
                        <%= button_to raw("Upload firm <i class=\"ml-2 fa fa-unlock-alt\"></i>"), user_contract_tokenizable_path(current_user,contract.id),:form => { :id => "send-button" }, class: "btn btn-primary EditDeleteButtons mb-3", style: "height: 45px; width: 100%;", title:"Firm contract"%>
                        <p class="mt-4">Firmed by:</p>
                        <p class="mt-2">- <%= contract.firm1%></p>
                        <p class="mt-2">- <%= contract.firm2%></p>
                    <%elsif contract.archived? && current_user && current_user == contract.owner%>
                        <%=button_to raw("Delete contract   <i class=\"ml-2 fa fa-trash-o\"></i>"), user_contract_url(current_user, contract.id), :method => :delete, form: {data: {turbo_confirm: 'Contract delete confirmation. Are you sure?'}}, class: "btn btn-danger EditDeleteButtons", style: "height: 45px; width: 100%;", title:"Delete Contract"%>
                    <%elsif contract.tokenized? && current_user && current_user == contract.owner%>
                        <p class="mt-2">Firmed by:</p>
                        <p class="mt-2">- <%= contract.firm1%></p>
                        <p class="mt-2">- <%= contract.firm2%></p>
                        <%=button_to raw("Delete contract   <i class=\"ml-2 fa fa-trash-o\"></i>"), user_contract_url(current_user, contract.id), :method => :delete, form: {data: {turbo_confirm: 'Contract delete confirmation. Are you sure?'}}, class: "btn btn-danger EditDeleteButtons mt-2", style: "height: 45px; width: 100%;", title:"Delete Contract"%>    
                    <%elsif contract.tokenized? && current_user && current_user == contract.beneficiary%>
                        <p class="mt-2">Firmed by:</p>
                        <p class="mt-2">- <%= contract.firm1%></p>
                        <p class="mt-2">- <%= contract.firm2%></p>
                    <%else%>
                        <i>Nothing to do...</i>
                    <%end%>
                </div>
            </div>
      </div>

      <div class="col-xl-8">
          <!-- Account details card-->
          <div class="card mb-4">
            <div class="justify-content-between">
              <div class="card-header h4">Contract Details &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <%= link_to raw("<i class=\"fa fa-arrow-left\"></i> Go Back"), :back, :class => "btn btn-secondary", style:"margin: 5px" %></div>
            </div>
              <div class="card-body">
                  <form>
                      <div class="row mb-3">
                          <!-- Form Group (first name)-->
                          <div class="col-md-6">
                              <label class=" mb-1" for="title">Title</label>
                              <span class="form-control" id="contract_title" style="height:50px;font-size:16px;" readonly><%= @contract.title%></span>
                          </div>
                          <!-- Form Group (last name)-->
                          <div class="col-md-6">
                              <label class=" mb-1" for="status">Status</label>
                              <span class="form-control" id="status" style="height:50px;font-size:16px;" readonly><%= @contract.status%></span>
                          </div>
                      </div>
                      <!-- Form Group (username)-->
                      <div class="mb-3">
                          <label class=" mb-1" for="description">Description</label>
                          <span class="form-control" id="description" style="height:90px;" readonly><%= @contract.desc%></span>
                      </div>
                      <!-- Form Row-->
                      <!-- Form Row        -->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (organization name)-->
                          <div class="col-md-4">
                              <label class=" mb-1" for="kind">Kind</label>
                              <span class="form-control" id="kind" style="height:50px;font-size:16px;" readonly><%= @contract.kind%></span>
                          </div>
                          <!-- Form Group (location)-->
                          <div class="col-md-4">
                              <label class=" mb-1" for="payable">Payable?</label>

                              <span class="form-control" id="payable" style="height:50px;font-size:16px;" readonly>
                              <%if @contract.payable == false %> No 
                              <%elsif @contract.payable == true%> Yes 
                              <%end%>
                              </span>
                          </div>
                          <div class="col-md-4">
                              <label class=" mb-1" for="beneficiary">Beneficiary</label>
                              <span class="form-control" id="contract_beneficiary" style="height:50px;font-size:16px;" readonly><%= @contract.beneficiary.name%></span>
                          </div>
                      </div>
        
                      
                      <div class="row gx-3 mb-3">
                          <div class="col-md-6">
                              <label class=" mb-1" for="creation"><i class=\"fa fa-download\"></i>Contract file path</label>
                              <%=link_to raw("<i class=\"fa fa-download\"></i> Open Contract"), contract.contract_file.url, class:"btn btn-primary form-control", style:"height:50px;", :target => "_blank"%>
                          </div>
                          <div class="col-md-6">
                              <label class=" mb-1" for="creation">Created At</label>
                              <span class="form-control" id="creation" style="height:50px;font-size:16px;" readonly><%= @contract.created_at.strftime("%d/%m/%Y")%></span>
                          </div>
                      </div>
                      
                        <div class="row flex-row-reverse mr-2">
                           <%if current_user && current_user == contract.owner && !contract.modification_in_progress? && !contract.modification_requested? && !contract.edited? && !contract.approved? && !contract.tokenization_requested? && !contract.tokenizable? && !contract.tokenized? && !contract.archived?%>
                          <div>
                            <%= link_to raw("<i class=\"fa fa-edit\" style=\"margin-right:5px;\"></i> Edit"), edit_user_contract_path(current_user, contract.id), data: {turbo: "false"}, class: "btn btn-success buttonText", style: "width:150px;height:60px;margin:15px;"%>
                          </div>
                          <%end%>
                      </div>

                      <span id="contract_url" hidden><%= @contract.contract_file.url%></span>
                      <span id="contract_user" hidden><%= current_user.name%></span>
                  </form>
              </div>
          </div>
      </div>
    </div>
</div>
