<h1>Contracts</h1>

<div id="contracts">
  <%if current_user.admin?%>
    <p>Admin View -- Contract List</p>
  <%end%>
  <%if Contract.select {|contract| contract.owner == current_user}.count == 0 %>
    <p>You dont have any contract created right now.</p>
    <p><%= link_to "Create contract", new_user_contract_path(current_user)%>
  <%end%>
  <% @contracts.each do |contract| %>
    <%if (current_user && current_user == contract.owner) || current_user.admin?%>   
      <p>
        <h2>Contract <%=contract.id%></h2>
        <p><strong>Title: </strong><%= contract.title %></p>
        <p><strong>Description: </strong><%= contract.desc %></p>
        <p><strong>Kind: </strong><%= contract.kind %></p>
        <p><strong>Status: </strong><%= contract.status %></p>
        <p><strong>Payable? </strong><%= contract.payable ? "Yes" : "No"%></p>
        <p><strong>Owner: </strong><%= contract.owner.name %></p>
        <p><strong>Beneficiary: </strong><%= contract.beneficiary.name %></p>
        <%if current_user && current_user == contract.owner%>
        <%= button_to "Delete this contract", user_contract_url(current_user, contract.id), :confirm => "Are you sure?", :method => :delete, data: {turbo: "false"}%>
        <%= link_to "Update this contract", edit_user_contract_path(current_user, contract.id), data: {turbo: "false"}%>
        <%end%>
        <hr/>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "Back", root_path%>
