<div class="container mt-5">
<div class="row">
        <div class="col-lg-4">
           <div class="profile-card-4">
            <div class="card" style="height:610px; width:350px;">
              <div class="card-body text-center bg-primary rounded-top">
               <div class="user-box">
							 	<% if @user.avatar.blank?%>
								<img src="../../assets/default_avatar.png" alt="user avatar" style="border-radius:50%; width:120px;height:120px;">
								<%else%>
								<%= image_tag @user.avatar.url, style:"border-radius:50%; width:120px;height:120px;"%>
								<%end%>
							</div>
              <h5 class="mb-1 mt-2 text-white"><%=current_user.name%></h5>
              <h6 class="text-light"><%= current_user.surname%></h6>
             </div>
              <div class="card-body">
                <ul class="list-group shadow-none">
                <li class="list-group-item">
                  <div class="list-icon">
                    <small>Mobile Number</small>
                  </div>
                  <div class="list-details">
                    <span>
										<%if current_user.phone.blank?%>
											-
										<%else%>
										<%= current_user.phone%>
										<%end%>
										</span>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="list-icon">
                    <small>Email Address</small>
                  </div>
                  <div class="list-details">
                    <span>
										<%if current_user.email.blank?%>
											-
										<%else%>
										<%= current_user.email%>
										<%end%>
										</span>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="list-icon">
                    <small>Website</small>
                  </div>
                  <div class="list-details">
                    <span>
										<%if current_user.website.blank?%>
											-
										<%else%>
										<%= current_user.website%>
										<%end%>
										</span>
                  </div>
                </li>
                </ul>
                <div class="row text-center mt-4">
                  <div class="col p-2">
                   <h4 class="mb-1 line-height-5"><%= Contract.select{|contract| contract.owner == current_user}.count%></h4>
                    <small class="mb-0 font-weight-bold">Contracts created</small>
                   </div>
                    <div class="col p-2">
                      <h4 class="mb-1 line-height-5"><%= Contract.select{|contract| contract.owner == current_user || contract.beneficiary == current_user}.count%></h4>
                     <small class="mb-0 font-weight-bold">Total user contracts</small>
                    </div>
                    <div class="col p-2">
                     <h4 class="mb-1 line-height-5">1</h4>
                     <small class="mb-0 font-weight-bold">Membership Grade</small>
                    </div>
                 </div>
               </div>
             </div>
           </div>
        </div>
        <div class="col-lg-8">
           <div class="card z-depth-3" style="height:610px; width:750px;">
            <div class="card-body">
            <ul class="nav nav-pills nav-pills-primary nav-justified">
                <li class="">
                  <%= link_to raw("<i class=\"fa fa-arrow-left\"></i> Go Back"), :back, :class => "btn btn-secondary", style:"margin-right:20px;"%>
                </li>
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#stats" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Stats</span></a>
                </li>
            </ul>
            <div class="tab-content p-4">
                <div class="tab-pane active show" id="profile">
                    <h5 class="mb-2">User Profile</h5>
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <h6>About</h6>
                            <p>
															<% if current_user.about.blank?%>
																Go to Edit Profile and tell us about you!
															<%end%>
															<%= current_user.about%>
														</p>
                        </div>
                        <div class="col-md-6">
                            <h6>User badges</h6>
                            <span class="badge badge-primary buttonText" style="width:130px;height:60px;">
															<%=current_user.role%>
														</span>
                            <%if current_user.role.to_s != "blocked" && current_user.role.to_s != "banned"%>
                              <span class="badge badge-success buttonText" style="width:130px;height:60px;"> Ethereum Enabled</span>
                            <%end%>
                            <span class="badge badge-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <h5 class="mt-2 mb-3"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                            <table class="table table-hover table-striped">
                                <tbody>
                                    <%if Contract.select{|contract| contract.owner == current_user || contract.beneficiary == current_user}.count == 0%>
                                    No recent activity. <br/> <br/>
                                    Info will display when you participate in any contract.
                                    <%end%>                 
																		<% @contracts.last(5).each do |contract| %> 
																		  
																		<%if contract.owner == current_user || contract.beneficiary == current_user%>                
                                    <tr>
                                        <td>
                                            <span>Created contract <strong><%=contract.title%></strong> sent to <strong><%=contract.beneficiary.name%></strong> at <strong><%=contract.created_at.strftime("%d/%m/%Y")%></strong></span>
                                        </td>
                                    </tr>
																		<%end%>
																	<%end%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
                <div class="tab-pane" id="stats">
                    <div class="alert alert-info alert-dismissible" role="alert">
    			   					<button type="button" class="close" data-dismiss="alert">×</button>
				    						<div class="alert-icon">
					 								<i class="icon-info"></i>
				    						</div>
				    						<div class="alert-message">
				      						<span><strong>Info!</strong> Working on this web feature! Stay tuned.</span>
				    						</div>
                  	</div>
										<div class="progress">
													<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
										</div>
                    <table class="table table-hover table-striped">
                    </table>
                </div>
            </div>
        </div>
      </div>
      </div>
        
    </div>
</div>