<div style="min-width: 500px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)">
      <br>
      <h2>Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        
        <br>

        <div class="actions">
          <%= f.submit "Reset Password", :class => "btn btn-primary" %>
        </div>
      <% end %>

      <br>

      <%= link_to "Back", root_path, :class => "btn btn-secondary"%>
</div>