<div class="container mt-5">
  <div class="col-lg-4" style="position:absolute;left:470px;top:250px;">
      
      <h2>Forgot your password?</h2>
      <br>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>
        
        <br>
        <div class="row flex-row-reverse mr-2">
          <div class="actions">
            <%= f.submit "Reset Password", :class => "btn btn-primary ml-3" %>
          </div>
          <%= link_to "Back", :back, :class => "btn btn-secondary"%>
        </div>
      <% end %>

  </div>
</div>