<h1>Pagina principal de Kontractum</h1>

<h2>Bienvenid@ de nuevo, <%= current_user.name%></h2>
<hr/>
<h3>Dashboard - <%= current_user.email%></h3>
<% if user_signed_in? %>

	<%if current_user.admin?%>
		<p>There are currently <%= User.count%> active accounts</p>
		<p>There are currently <%= Contract.count%> total contracts created</p>
	<%end%>

	<p>Your current role is: <%= current_user.role%></p>
	<p>You have <%= Contract.select {|contract| contract.owner == current_user}.count%> contracts created</p>
	<p>You've been active since <%= current_user.created_at.strftime("%d of %B, %Y")%></p>
	 <hr/>
	<p><%= link_to "Edit PROFILE", edit_profile_path%>
	<%= link_to "Edit PASSWORD", edit_user_registration_path%></p>

	<p><%= link_to "New contract", new_user_contract_path(current_user)%>
	<%= link_to "See created contracts", user_contracts_url(current_user)%></p>
	<%= link_to "LOG OUT", destroy_user_session_path%>
<%end%>