<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container-fluid mt-1">
<div class="row">
	<!-- BEGIN INBOX -->
	<div class="col-md-12">
		<div class="mainMenu">
			<div class="grid-body">
				<div class="row mainContent">
					<!-- BEGIN INBOX MENU -->
					<div class="col mainColumn">
						<div class="btn-group primaryButton" role="group" style="width: 325px; height:70px;">
							<%= link_to raw("<i class=\"fa fa-pencil\" style=\"margin-right:10px;\"></i> New Contract"), new_user_contract_path(current_user), :class => "btn btn-outline-info btn btn-block mr-2 buttonText", style:"width:120px;"%>
						</div>
						

						<div class="folderBox">
							<ul style="list-style: none;" class="folderList">
								<div class="mt-4">
									<%= link_to raw("<i class=\"fa fa-inbox folder fa-lg\" style=\"margin-right:10px;\"></i> Inbox"), root_path, :method => :get, class: "btn btn-primary buttonText", style:"width:230px; height:60px;"%>
									<li class="mb-4">
									</li>
									<li class="mb-4"> 
										<%= link_to raw("<i class=\"fa fa-mail-reply folder\"></i> Received"),q: {beneficiary: current_user.id}, class: "btn btn-primary"%>
									</li>
									<li class="mb-4">
										<%= link_to raw("<i class=\"fa fa-mail-forward folder\"></i> Sent"), q: {owner: current_user.id}%>
									</li>
									<li class="mb-4">
										<%= link_to raw("<i class=\"fa fa-exclamation-triangle folder\"></i> Expired"), q: {status: 0 }%>
									</li>
									<li class="mb-4">
										<%= link_to raw("<i class=\"fa fa-folder folder\"></i> Archived"), q: {status: 1 }%>
									</li>
									<li class="mb-4">
										<%= link_to raw("<i class=\"fa fa-check folder\"></i> Approved"), q: {status: 2 }%>
									</li>
									<li class="mb-4">
										<%= link_to raw("<i class=\"fa fa-question \"></i>  Proposed"), q: {status: 3 }%>
									</li>
									<li class="mb-4">
										<%= link_to raw("<i class=\"fa fa-pencil-square-o\"></i> Modification Requested"), q: {status: 4 }%>
									</li>
									<li class="mb-4">
										<%= link_to raw("<i class=\"fa fa-clock-o\"></i> Modification in progress"), q: {status: 5 }%>
									</li>
									<li class="">
										<%= link_to raw("<i class=\"fa fa-plus-circle\"></i> Edited"), q: {status: 6 }%>
									</li>
								</div>
							</ul>
						</div>
					</div>
					<!-- END INBOX MENU -->
					
					<!-- BEGIN INBOX CONTENT -->
					<div class="col-md-9 FilterList">
							<table class="table parent">
								<div class="search-form child-one">
									<form action="#">
										<div class="input-group mainFilter">
											<%= search_form_for @q, url: :user_contracts[current_user.id] do |f| %>
												<div class="form-group">
													<%= f.text_field :title_or_desc_or_kind_cont, style: "height: 70px; width: 780px; margin-left: 5px;", placeholder: "Title, description...", class:"form-control" %>
												</div>
											<%end%>
											<span class="input-group-btn">
												<button class="btn btn-primary" style= "height: 70px; width: 90px; margin-left:5px"><i class="fa fa-search fa-lg"></i></button>
												<a class="btn btn-secondary" href="/" style= "height: 70px; width: 80px;"><i class="fa fa-rotate-left" style="margin-top:21px;"></i></a>
											</span>
										</div>			 
									</form>
								</div>
								<div class="child-two">
										
										<%if Contract.select{|contract| contract.owner == current_user || contract.beneficiary == current_user}.count == 0%>
										<div class="emptyMessage">
											<div>Inbox empty. Contracts where you participate will be listed here</div>
                    </div>
										<%end%>
										 
									<tbody class="gridTable">
										<% @contracts.each do |contract| %>
										<tr class="contract">
												<%if (current_user && current_user == contract.beneficiary) || (current_user && current_user == contract.owner) || current_user.admin?%>
													<td class="title">
															<div style="width:100px;"><%= link_to contract.title, user_contract_path(current_user, contract.id), data: {turbo: "false"}%></div>
													</td>
													<td class="description text-muted"><div style="text-overflow: ellipsis; overflow: hidden; width: 300px; height: 2.8em; white-space: nowrap;"><%= contract.desc%></div></td>
													<td class="status text-muted"><div class="text-info"><small><%= contract.status%></small></div></td>
													<%if Date.today.to_time.to_i - contract.created_at.to_time.to_i > 86400%>
														<td class="time"><%= contract.created_at.strftime('%d/%m/%Y')%></td>
													<%else%>
														<td class="time"><%= contract.created_at.strftime('%H:%M')%></td>
													<%end%>
													<%if contract.approved? && current_user && current_user == contract.owner%>
														<td><%= link_to raw("<i class=\"fa fa-edit\"></i>"), edit_user_contract_path(current_user, contract.id), data: {turbo: "false"}, class: "btn btn-success EditDeleteButtons", style: "height: 45px; width: 60px;", title:"Edit Contract"%></td>
														<td><%= button_to raw("<i class=\"fa fa-trash-o\"></i>"), user_contract_url(current_user, contract.id), :method => :delete, form: {data: {turbo_confirm: 'Contract delete confirmation. Are you sure?'}}, class: "btn btn-danger EditDeleteButtons", style: "height: 45px; width: 60px;", title:"Delete Contract"%></td>
													<%elsif contract.proposed? && current_user && current_user == contract.beneficiary%>
														<td><%= button_to raw("<i class=\"fa fa-check\"></i>"), user_contract_accept_path(current_user, contract.id), form: {data: {turbo_confirm: 'Accept contract?'}}, class: "btn btn-warning EditDeleteButtons", style: "height: 45px; width: 60px;", title:"Accept Contract"%></td>
														<td><%= button_to raw("<i class=\"fa fa-close\"></i>"), user_contract_reject_path(current_user, contract.id), form: {data: {turbo_confirm: 'Reject contract?'}}, class: "btn btn-danger EditDeleteButtons", style: "height: 45px; width: 60px;", title:"Reject Contract"%></td>
													<%elsif contract.approved? && current_user && current_user == contract.beneficiary%>
													<td> </td>
													<td><%= button_to raw("<i class=\"fa fa-question\"></i>"), user_contract_modify_path(current_user, contract.id), form: {data: {turbo_confirm: 'Request contract modification?'}}, class: "btn btn-primary EditDeleteButtons", style: "height: 45px; width: 60px;", title:"Ask for modify"%></td>
													<%elsif contract.modification_requested? && current_user && current_user == contract.beneficiary%>
													<td> <i><small>Modification</small></i></td>
													<td> <i><small>requested...</small></i></td>
													<%elsif contract.modification_requested? && current_user && current_user == contract.owner%>
														<td><%= button_to raw("<i class=\"fa fa-plus-circle\"></i>"), user_contract_accept_modification_path(current_user, contract.id), form: {data: {turbo_confirm: 'Modification requested by ' + contract.beneficiary.name + ". Accept?"}}, class: "btn btn-warning EditDeleteButtons", style: "height: 45px; width: 60px;", title:"Accept modification"%></td>
														<td><%= button_to raw("<i class=\"fa fa-minus-circle\"></i>"), user_contract_reject_modification_path(current_user, contract.id), form: {data: {turbo_confirm: 'Modification requested by ' + contract.beneficiary.name + ". Reject?"}}, class: "btn btn-danger EditDeleteButtons", style: "height: 45px; width: 60px;", title:"Reject modification"%></td>
													<%elsif contract.modification_in_progress? && current_user && current_user == contract.beneficiary%>
														<td><%= link_to raw("<i class=\"fa fa-pencil\"></i>"), edit_user_contract_path(current_user, contract.id), data: {turbo: "false"}, class: "btn btn-warning EditDeleteButtons", style: "height: 45px; width: 60px;", title:"Edit Contract"%></td>
														<td><%= button_to raw("<i class=\"fa fa-check\"></i>"), user_contract_edited_path(current_user, contract.id), form: {data: {turbo_confirm: 'Finish modification?'}}, class: "btn btn-success EditDeleteButtons", style: "height: 45px; width: 60px;", title:"Finish edit"%></td>
													<%elsif contract.modification_in_progress? && current_user && current_user == contract.owner%>
														<td> <i><small>Modification</small></i></td>
														<td> <i><small>in progress...</small></i></td>
													<%else%>
														<td> </td>
														<td> </td>
													<%end%>
												<%end%>
											<%end%>
											<br/>
										</tr>
									</tbody>
								</div>
								<div class="container pagination justify-content-center child-three" >
									<%= paginate @contracts, remote: true %>
								</div>
							</table>
						</div>
					</div>
					<!-- END INBOX CONTENT -->					
				</div>
			</div>
		</div>
	</div>
	<!-- END INBOX -->
</div>
</div>