<!-- Section: Design Block -->
<section style="margin-top:80px;">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6" style="margin-top:90px;">
          <img src="../../../assets/solologo.png" style="width:230px;height:100px;position:absolute;left:170px;top:-80px;opacity:0.8;"/>
          <h1 class="my-5 display-4 fw-bold ls-tight">
            La mejor plataforma <br />
            <span class="text-primary">para tus contratos</span>
          </h1>
          <h5 style="color: hsl(217, 10%, 50.8%)">
            Bienvenido a Kontractum.
          </h5>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <%=form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f|%>
              <%= render "devise/shared/error_messages", resource: resource %>
                <!-- 2 column grid layout with text inputs for the first and last names -->

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style:"height:50px;"%>
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", style:"height:50px;"%>
                  <label class="form-label" for="form3Example4">Password</label>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="field mb-3">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>

                <!-- Submit button -->
                <%= f.submit "Log in", :class => "btn btn-primary btn-block mb-4"%>
              <%end%>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->